#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 1500ms;
}

.multiply {
  margin-left: 2em;
  vertical-align: middle;
}
.header {
  vertical-align: 20%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ff0000);
  filter: hue-rotate(90deg);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #00ff00);
}

@keyframes logo-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin-right: 2em;
}

.read-the-docs {
  color: #888;
}
